@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-Poppins: "Poppins", "sans-serif";

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --color-primary-theme: #F379A7;
  --color-primary-theme-dark: #B7406D;
  --color-dark-1: #333333;
  --color-dark-2: #7D7D7D;
  --color-dark-3: #DFE0E4;

  /* Shadow */
  --shadow-btn-inner: inset 0px 0px 122px rgba(0, 0, 0, 0.22);
}

html,
body {
  @apply scroll-smooth;
}

body {
  @apply font-Poppins text-base text-dark-2 font-normal relative overflow-x-hidden
}

p {
  @apply leading-[1.8];
}

.container {
  @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px] px-3;
}

/* ========== Loader ========== */
.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%
  }

  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%
  }

  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%
  }

  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%
  }

  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%
  }

  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%
  }
}

/* ========== Header ========== */
.top-header ul li {
  @apply flex items-center gap-1.5
}

.top-header .social-icons li a:hover {
  @apply text-primary-theme
}

.bottom-header .menu li a {
  @apply font-medium text-base uppercase text-dark-2 h-auto lg:h-[60px] flex items-center px-4
}

.bottom-header .menu li a:hover {
  @apply bg-transparent text-primary-theme
}

.bottom-header .menu li a.active {
  @apply text-primary-theme
}

.bottom-header .menu li a.active::before {
  @apply lg:content-[''] absolute bottom-4 left-[50%] -translate-x-[50%] w-[80%] h-0.5;
}

.bottom-header .menu li a.active::before {
  background: linear-gradient(90deg, rgba(243, 121, 167, 0) 0%, #F379A7 49.77%, rgba(243, 121, 167, 0) 100%);
}

.subTitleOne,
.sliderTitle,
.subTitleTwo,
.sliderButton,
.slider-image {
  transform: translateX(100px);
  opacity: 0;
}

.swiper-slide-active .subTitleOne {
  transition: all 1.1s ease;
}

.swiper-slide-active .sliderTitle {
  transition: all 1.5s ease;
}

.swiper-slide-active .subTitleTwo {
  transition: all 1.9s ease;
}

.swiper-slide-active .sliderButton {
  transition: all 2.3s ease;
}

.swiper-slide-active .subTitleOne,
.swiper-slide-active .sliderTitle,
.swiper-slide-active .subTitleTwo,
.swiper-slide-active .sliderButton {
  opacity: 1;
  transform: translateX(0px);
}

.swiper-slide-active .slider-image {
  transition: all 1.4s ease;
  transform: translateX(0px);
  opacity: 1;
}

.availableQuantity div:not(:last-child):after {
  margin-left: 8px;
  margin-right: 9px;
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  vertical-align: middle;
  background: #DFE0E4;
}

.sign-in-with {
  @apply relative before:content-[''] before:w-[18%] before:h-px before:absolute before:top-[50%] before:bg-dark-3 before:ml-[-20%] after:content-[''] after:w-[18%] after:h-px after:absolute after:top-[50%] after:bg-dark-3 after:ml-[2%]
}

.checkbox:checked {
  @apply bg-primary-theme border-primary-theme text-white
}

.table thead {
  @apply bg-gray-200
}

.table thead th {
  @apply py-4 text-dark-1
}

.table tbody td {
  @apply py-8;
}

.footer-menu li {
  @apply relative mb-0
}

.footer-menu li:not(:last-child)::before {
  @apply content-['|'] absolute top-0 -right-3.5
}

.footer-menu li a:hover {
  @apply text-primary-theme duration-300
}

.who-we-are .section-title {
  @apply mb-6
}

.blog-meta li:not(:last-child)::after {
  @apply content-[''] w-1.5 h-1.5 bg-gray-400 rounded-full align-middle ml-4 mr-4 inline-block
}

.form-field {
  @apply border w-full py-3 px-5 rounded-md focus:outline-0;
}

.form-field-border {
  @apply text-dark-2 border-[#CBD5E1] focus:border-primary-theme;
}

.form-field-error {
  @apply border-red-500 text-red-500 focus:border-red-500;
}

/* [ OurPartners ] */
/*================================================== */
.rfm-marquee-container,
.rfm-marquee,
.rfm-initial-child-container {
  @apply gap-14
}

.rfm-marquee img,
.rfm-initial-child-container img {
  @apply saturate-[0] hover:saturate-100 duration-300
}